@media screen and (max-width: 375px){
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
    
  
  /* モバイルナビゲーション設定 */
  
    #wrapper nav {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100%;
      padding-top: 50px;
      background:#88d0e6;
      font-size: 16px;
      box-sizing: border-box;
      z-index: 2
    }
    #wrapper nav ul li {
      display:block;
      padding: 20px 28px
    }
    
    #wrapper nav ul li a {
      text-decoration: none;
      color: #ffffff
    }
    
    #wrapper .btn-gnavi {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 24px;
      z-index: 3;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-transition: all 400ms;
      transition: all 400ms
    }
    
    #wrapper .btn-gnavi span {
      position: absolute;
      width: 30px;
      height: 4px;
      background: #666;
      border-radius: 10px;
      -webkit-transition: all 400ms;
      transition: all 400ms
    }
    
    #wrapper .btn-gnavi span:nth-child(1) {
      top: 0
    }
    
    #wrapper .btn-gnavi span:nth-child(2) {
      top: 10px
    }
    
    #wrapper .btn-gnavi span:nth-child(3) {
      top: 20px
    }
    
    #wrapper .btn-gnavi.open {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg)
    }
    
    #wrapper .btn-gnavi.open span {
      background: #fff
    }
    
    #wrapper .btn-gnavi.open span {
      width: 24px;
    }
    #wrapper .contents section p {
      position: absolute;
      top: 50%;
      width: 30%;
      line-height: 1.4;
      font-size: 20px;
      color: #fff;
      text-shadow: 0 0 6px #666
    }
    
    #wrapper .contents section:nth-child(odd) p {
      left: 10%
    }
    
    #wrapper .contents section:nth-child(even) p {
      right: 10%
    }
  .speech-bubble {
    position: absolute;
    top: -10%;
    left: -60%;
    background: url(../img/backimage/speach_bubble.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    display: inline-block;
    width: 77%;
    height: 55%;
}
.profile_img {
  background-size: 100%;
  padding: 80px;
  left: 30%;
}
#profile h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 59px;
}
/* 作品紹介 */
#works .section_title {
  background-size: 230px;
  padding: 77px;
}
#App {
  background-size: contain;
  left: -20%;
}
.app_container {
  flex-direction: column; /* 縦並びにする */
}

#app1, #app2, .app_detail {
  width: 100%; /* 横幅一杯にする */
}
/* スキル紹介 */
#skills {
  width: 136%;
}
.skills_wrapper li:nth-child(1), .skills_wrapper li:nth-child(3), .skills_wrapper li:nth-child(5) {
  margin-right: 10%;
}
.skills_wrapper li:nth-child(2), .skills_wrapper li:nth-child(4) {
  margin-left: 10%;
}

.skills_wrapper li {
  width: 100%; /* 全幅に広がるように設定 */
  margin-right: 0; /* 右マージンを0に設定 */
  margin-left: 0; /* 左マージンを0に設定 */
  background-position: center; /* 背景画像を中央に配置 */
  text-align: center; /* テキストを中央寄せにする */
}

.skill_content {
  padding-top: 150px; /* 画像の高さに応じて調整 */
}
/* お問い合わせ */
#contact {
  width: 135%;
  margin-top: 60%;
}
#contact>div .btn {
  width: 40%;
  height: 12vw;
  margin: 20% auto;
}
#contact .effect {
  position: absolute;
  top: -50%;
  left: 25%;
  padding-bottom: 20%;
  background-position: center;
  background-size: 120%;
}
#light {
  top: 30%;
  right: 75%;
}
}
